{% extends 'bookshop/base.html' %}
{% load static %}
<title>{% block title %} Cart Details | Bookshop {% endblock%}</title>
{% block content %} 
    <div class="ps-hero">
        <div class="container">
            <h3>YOUR CART</h3>
            <p>Page Cart</p>
        </div>
    </div>
    
    <div class="ps-content pt-80 pb-80">
        <div class="ps-container">
            <div class="ps-cart-listing">
                <table class="table ps-cart__table">
                    <thead>
                        <tr>
                            <th>All Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for item in cart %}
                            {% with product=item.product %}
                                <tr>
                                    <td><a class="ps-product--compare" href="{{ product.get_absolute_url }}"><img class="mr-15" src="{% if product.image %}{{ product.image.url
                                    }}
                                    {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">{{ product.name }}</a></td>
                                    <td>${{ item.price }}</td>
                                    <td>
                                        <div class="form-group--number">
                                            
                                            <form action="{% url 'cart_add' product.id %}"method="post">
                                                {{ item.update_quantity_form.quantity }}
                                                {{ item.update_quantity_form.override }}
                                                <button class="plus"><span>+</span></button>
                                                {% csrf_token %}
                                            </form>
                                           
                                        </div>
                                    </td>
                                    


                                    <td>${{ item.total_price }}</td>
                                    <td>
                                        <div class="form-group--number">
                                            <form action="{% url 'cart_remove' product.id %}" method="post">
                                                <button class="minus"><span>-</span></button>
                                                {% csrf_token %}
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
                
                <div class="ps-cart__actions">
                    <div class="ps-cart__promotion">
                        <div class="form-group">
                            <div class="ps-form--icon"><i class="fa fa-angle-right"></i>
                                <input class="form-control" type="text" placeholder="Promo Code">
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="{% url 'product_list' %}"><button class="ps-btn ps-btn--gray" >Continue Shopping</button></a>
                        </div>
                    </div>
                    <div class="ps-cart__total">
                        <h3>Total Price: <span> ${{ cart.get_total_price }}</span></h3><a class="ps-btn" href="{% url 'order_create' %}">Process to order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
       
                
{% endblock %}

