{% extends 'bookshop/base.html' %}
{% load static %}
<title>{% block title %} Registration | Bookshop{% endblock%}</title>
{% block content %}

    <section class="my_account_area pt--80 pb--55 bg--white">
        <div class="container">
            <div class="row">
                <!-- registration form  -->
                <div class="col-lg-6 col-12">

                    <!-- flash messages  -->
                    {% include 'users/alerts.html' %}
                    <!-- end flash messages -->
                    <h1 style="margin-top:10%;">Login</h1><br>
                    <form class="ps-form--contact" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Username <sup>*</sup></label>
                            <input class="form-control" type="text" placeholder="Enter Your Username" name="username"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Password <sup>*</sup></label>
                            <input class="form-control" type="password" placeholder="Enter Your Password" name="password"
                                required>
                        </div>
                        <div class="form-group">
                            <button class="ps-btn pl-60 pr-60">Login </button>
                        </div>
                        <div class="form-group">
                            <div>
                                <p class="text-muted">Need An Account?<a class="ml-2" href="{% url 'register' %}">Sign Up
                                        Now </a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}